#gallery {
  background-color:#fefefe;
  column-count: 5;
  column-gap: 1em;
  z-index: 1;
}

#gallery::before {
  pointer-events: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%;
  height:70%;
  content: '';
  background-image: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(248,248,248,0) 90%);
  z-index: 2;
}

#gallery a img{
  opacity: 0.0;
  vertical-align: top;
  transition-property: all;
  transition-duration: 300ms;
  transition-delay: 0s;
  transition-timing-function: ease;
}

#gallery a img.loaded {
  opacity: 0.55;
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

#gallery a img:hover{
  opacity: 1;
}
